body {
    background: #666;
    margin: 0;
}

.cards {
    white-space: nowrap;
}

.card__wrapper {
    perspective: 1000px;
}

.card {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.card_initial {
    border-left: solid 5vw #c99;
}

.card_to-be-played {
    border-left: solid 5vw #9e9;
}

.card_played {
    border-left: solid 5vw #ccc;
}

.card_flipped {
    transform: rotateY(180deg);
}

.front {
    background: #eee;
}

.back {
    background: #999;
}

.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

    font: normal 60pt sans-serif;
    text-align: center;
    line-height: 3em;
}

.back {
    transform: rotateY(180deg);
}


/* Vertical */

.cards.cards_vertical {
    overflow-x: hidden;
    overflow-y: scroll;
}

.cards_vertical .card, .cards_vertical .front, .cards_vertical .back {
    width: 75vw;
    height: 60vh;
}

.cards_vertical .card {
    margin: 10vw auto;
}


/* Horizontal */

.cards.cards_horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 7.5vh;
    padding-left: 12.5vw;
    height: 100vh;

}

.cards_horizontal .card__wrapper {
    display: inline-block;
    margin: auto 5vw;
}

.cards_horizontal .card, .cards_horizontal .front, .cards_horizontal .back {
    width: 60vw;
    height: 65vh;
}

.cards_horizontal .card {
}