body {
    background: #666;
    margin: 0;
}

.cards {

}

.card__wrapper {
    perspective: 1000px;
}

.card {
    box-sizing: border-box;
    margin: 10%;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.card_initial {
    border-left: solid 10px #c99;
}

.card_to-be-played {
    border-left: solid 10px #9e9;
}

.card_played {
    border-left: solid 10px #ccc;
}

.card_flipped {
    transform: rotateY(180deg);
}

.card, .front, .back {
    width: 90%;
    height: 400px;
}

.front {
    background: #eee;
}

.back {
    background: #999;
}

.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}